*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/******************************HOME PAGE*********************************/
/*derived with the help of paletton.com*/

/*green 0 is middle, 1-4 increasingly dark*/
.green { background-color: rgba( 34,106, 56,1) }	/* Main Primary color */
.green-1 { background-color: rgba( 95,159,114,1);
					 background-color: rgba( 95,159,114,1) }
.green-2 { background-color: rgba( 57,129, 78,1) }
.green-3 { background-color: rgba( 14, 78, 33,1) }
.green-4 { background-color: rgba(  0, 49, 15,1) }

/*blue-1 is middle, 1-4 increasingly dark*/
.blue { background-color: rgba( 31, 76, 89,1) }	/* Main Secondary color (1) */
.blue-1 { background-color: rgba( 82,122,134,1) }
.blue-2 { background-color: rgba( 50, 95,108,1) }
.blue-3 { background-color: rgba( 14, 54, 66,1) }
.blue-4 { background-color: rgba(  2, 33, 42,1) }

/*brown 0 is middle, 1-4 increasingly dark*/
.brown { background-color: rgba(143, 95, 46,1) }	/* Main Secondary color (2) */
.brown-1 { background-color: rgba(215,172,129,1) }
.brown-2 { background-color: rgba(174,126, 77,1) }
.brown-3 { background-color: rgba(106, 63, 19,1) }
.brown-4 { background-color: rgba( 67, 34,  1,1) }

/*red 0 is middle, 1-4 increasingly dark*/
.red { background-color: rgba(143, 59, 46,1) }	/* Main Complement color */
.red-1 { background-color: rgba(215,140,129,1) }
.red-2 { background-color: rgba(174, 90, 77,1) }
.red-3 { background-color: rgba(106, 31, 19,1) }
.red-4 { background-color: rgba( 67, 10,  1,1) }



/******************************HOME PAGE*********************************/
body {
	margin: 0;
	padding: 0;
}

#testimonials {
	padding: 2vh;
	font-size: 2vh;
	border: rgba( 31, 76, 89,1) ridge thin ;	
}

.testimonial-intro {
	font-size: 2vh;
	font-style: italic;
}

blockquote {
	border-bottom-style: solid;
	border-bottom-width: thick;
	border-bottom-color: rgba( 34, 106, 56, 1);
}

blockquote p {
	color: rgba(143, 59, 46, 1);
	font-size: smaller;
	font-style: italic;
	text-align: right;
	padding-right: 10%;
}

blockquote img {
	position: relative;
	left: 50%; 
	transform: translateX(-50%);
	width: 30vh;
	padding: 1.5vh;
	margin: 3vh 0 3vh 0;
	border-radius: 3px;
	border: rgba( 31, 76, 89,1) ridge medium;
}

#description blockquote a {
	border: none;
	padding: 0;
}

figcaption {
	color: rgba(143, 59, 46,1);
	font-size: smaller;
	text-align: center;
		
}

.center-fixed {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center-absolute, .center-absolute, .dot p  {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.15);
}

.right-chevron {
    filter: FlipH;
}



/*#cyclists-overlay {
	background-color: rgba(0, 0, 0, 0.6);
	height: 100vh;
	width: 100vw;
	position: fixed;
}*/

.swipe-here {
	display: none;
}

.hidden {
	display: none;
}

a {
	text-decoration: none;
	color: black;
}

/*shadow defaults*/
.shadow {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 1.0), 0 0 2px #000;
	/*	box-shadow: inset 0 0 2 black;
		border: black 0.2px;*/
}

.shadow:hover {
	box-shadow: inset 0.02vh 0.02vh 0.25vh black;
}

.shadow img {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-radius: 50%;
}

.shadow .hot-deal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	height: 70%;
	border-radius: 0;
}

.deep-shadow {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 1.0), 0 0 6px #000;
}

.deep-shadow:hover {
	box-shadow: inset 0.02vh 0.02vh 0.25vh black;
}

.highlight {
	box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 1.0), 0 0 4px #000, 0 0 1px red;
}


.deep-shadow img {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-radius: 50%;
}

.white-background {
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: -3;
	border-radius: 50%;
}


/*setting up shadow for dots without images*/
.dot-background {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: white;
}

/*The following "gear" section serves the function of a header on most webpages*/
/*GEAR*/
#gear-container {
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	width: 65vh;
	height: 65vh;
}

#gear {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*LOGO*/
#logo-container {
	position: fixed;
	width: 28vh;
	height: 56vh;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -25%);
	font-family: 'Tillana', cursive;
	text-align: center;
}

#logo {
	position: absolute;
	width: 100%;
	height: 50%;
	border-radius: 50%;
}

#logo img {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

#company-name {
	position: absolute;
	top: 38%;
	font-size: 1.6vh;
	color: white;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	text-shadow: 1px 1px 1px rgba(255,0,0,1.0), 1px 1px 2px black;
}

div #slogan {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 2%;
	padding-top: -50%;
	font-size: 4vh;
	font-family: 'Tillana', cursive;
/*	border: gray groove thin;*/
	box-shadow: 0 0 2px #000;
	border-radius: 0.5%;
}

/*MAIN*/
#cyclists-background {
	position: fixed;
	box-shadow: inset 0 0 0.5vh black;
	width: 100vw;
	height: 100vh;
	background-image: url("../images/red_green_attribute_to_Gordon_Hatton.jpg");
	background-size: cover;
}

.rounded-ridge {
	box-shadow: 
		0 0 2px 2px hsl(0, 0%, 20%),
		0 0 1px 4px hsl(0, 0%, 40%),
		0 0 0 6px hsl(0, 0%, 80%),
		0 0 0 6.5px hsl(0, 0%, 100%); 
}

#main-container {
	/*	box-shadow: 0 0 50px black, inset 0 0 0.5vh black;*/
/*	background-color: rgb(142,225,47) rgb(111,175,45) #99ff00;*/
	width: 85vh;
	height: 85vh;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

/*DOTS*/

#dots-container {
	width: 85vh;
	height: 85vh;
	font-family: 'Tillana', cursive;
}

.dot {
	position: fixed;
	width: 15vh;
	height: 15vh;
	border-radius: 50%;
/*	transition:width .35s, height .35s, top .35s, left .35s ease-in-out;*/
}

.big-dot {
	transform: translate(-25%,-25%);
	width: 30vh;
	height: 30vh;
	font-size: 4vh;
	transition:width .2s, height .2s, ease-out;
}

/*AREA SHOWING PRODUCT DETAILS AND BUY AND INFO BUTTONS*/
#product-details-container {
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	width: 65vh;
	height: 65vh;
	
}

/************************************PRODUCT DETAILS PAGE****************************************/

#details {
	position: absolute;
	/*	top: 50vh;
		left: 50vw;
		transform: translate(-50%, -50%);*/
	width: 100%;
	height: 100%;
	border-radius: 1%;
	overflow: hidden;
	/*	box-shadow: inset 0 0 1vh #000;*/
}

#details h1 {
	text-align: center;
	margin: 0;
}

#details p, #details span {
	position: relative;
	left: 5vh;
	width: 80%;
	
}

#paypal{
	position: relative;
	bottom: 0;
}

#details .product-slug {
	text-align: center;
	font-size: 2vh;
	left: 0;
	width: 100%;
}

#details .product-amount {
	font-style: italic;
	text-align: center;
	left: 0;
	width: 100%;
}

#details select {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#product-image {
	display: none;/* KB NOTE may want to change this.*/
	position: absolute;
	top: 0%;
	transform: translate(-45%, -10%);
	width: 68%;
	height: 68%;
}

#product-image img {
	position: absolute;
	width:100%;
	height: 100%;
	border-radius: 50%;
}

#description {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -55%);
	width: 75%;
	height: 55%;
	overflow: scroll;
	font-size: 1.5vh;
	padding: 2vh;
	box-shadow: inset 0 0 3px black;
	border-radius: 10px;
	background-color: white;
}

#description h1 {
	font-size: 4vh;
}

.more-details-links {
	display: flex;
	position: relative;
	text-align: center;
}

#details .more-details-links span {
	left: 0;
}

#description a {
	border-style: groove;
	border-color: darkgreen;
	border-width: thin;
	padding: 2vh;
	flex-grow: 1;
}

#add-cart {
	position: absolute;
	bottom: 7.5%;
	left: 42.5%;
	width: 15%;
	height: 15%;
	background-color: rgba( 34,106, 56,1);
	padding: 0;
	margin: 0;
	border-radius: 5px;
	border:black solid 1px;
	box-shadow: 0 1px 2px #000;
}

#add-cart:hover, #add-cart:focus {
	box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 1.0);
}

.add-cart-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: 60%;
}

#more-info {
	display: none;
	position: absolute;
	bottom: 5%;
	left: 32.5%;
	width: 15%;
	height: 15%;
	background-color: rgba( 34,106, 56,1) ;
	box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 1.0), 0 0 2px #000;
}

#more-info:hover, #more-info:focus {
	box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 1.0);
}
.more-info-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: 60%;
}

/**********STYLES FOR PORTRAIT ORIENTATION ON DEVICES AND PORTRAIT ASPECT RATIO FOR RESIZABLE WINDOWS*****************/ 
@media all and (orientation:portrait), (max-aspect-ratio: 1/1) {

	#gear-container {
		width: 55vw;
		height: 55vw;
	}

	#gear {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80%;
		height: 80%;
	}

	#modal {
		background-color: rgba(0,0,0,0.1);
	}

	#logo-container {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	#logo {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 20vw;
		width: 20vw;
	}
	
	#company-name {
		top: 58%; 
	}
	
	#slogan {
		display: none;
	}
		
	#product-details-container {
		width: 70vw;
		height: 70vh;
	}

	#dots-container {
		width: 85vw;
		height: 85vw;
	}

	.dot {
		width: 20vw;
		height: 20vw;
		font-size: 2vw;
	}

	.shadow div {
		font-size: 2.5vw
	}

	#details {
		width: 100%;
		height: 100%;	
	}

	#description {
		font-size: 2.5vw;
		padding: 2vw;
	}

	#description h1 {
		font-size: 4vw;
	}

	#description a {
		padding: 2vw;
	}

	#product-image {
		width: 30vw;
		height: 30vw;
		transform: translate(-25%, -10%);
	}	

	.big-dot {
		width: 50vw;
		height: 50vw;
		font-size: 4vw;
	}
	
	#main-container {
		width: 100vw;
		height: 100vh;
		border-radius: 0;
	}
}

@media all and (max-aspect-ratio: 3/5) {
	.swipe-here {
		position: absolute;
		display: flex;
		align-items: center;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		width: 80%;
		height: 20vh;
	}

	.swipe-here div {
		flex-grow: 4;
		text-align: center;
		font-size: 5vw;

	}
	.swipe-here img {
		flex-grow: 1;
		width: 15vw;
		height: 15vw
	}

	#logo-container {
		width: 100vw;
		height: 30vw;
		left: 0;
		top: 0;
		transform: translate(0, 0);
	}

	#logo {
		top: 2vw;
		left: 50%;
		transform: translateX(-50%);
		height: 30vw;
		width: 30vw;
	}

	#company-name {
		font-size: 4vw;
		top: 25vw;
	}

	div #slogan {
		height: 2vh;
		display: initial;
		font-size: 4vw;
		top: 30vw;
		text-align: center;
	}	
}
