*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*HOME PAGE*/
/*header*/
#companyName {
	position: fixed;
	top:  0;
	left: 50vw;
	transform: translate(-50%, -20%);
	font-size: 5vh;
}

#slogan {
	position: fixed;
	bottom:  1vh;
	left: 50vw;
	transform: translate(-50%, -15%);
	font-size: 5vh;
}


/*body*/
body {
    background-size: cover;
	background-color: #99ff00;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

#page-shadow {
	box-shadow: inset 0 0 1vh black;
	width: 100vw;
	height: 100vh;
	position: fixed;
}

/*dots*/
.current-dot {
	background: rgba(0,0,0, 0.6);
}

.dot {
	width: 15vh;
	height: 15vh;
	border-radius: 50%;
}

.dot-background {
	position: relative;
	width: 15vh;
	height: 15vh;
	border-radius: 50%;
	background: white;
	z-index: -10;
	box-shadow: 0px 0px 1vh rgba(0, 0, 0, 0.8) ;
}

#dots-container {
	width: 65vh;
	height: 65vh;
}
#dots-container .shadow  {
	position: absolute;
	width: 15vh;
	height: 15vh;
	border-radius: 50%;
	text-align: center;
}

.shadow {
	box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 1vh inset;
}

.shadow:hover {
	box-shadow: inset 0 0 0.25vh black;
}

.shadow div {
	display: block;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);	
}

.shadow img {
	width: 15vh;
	height: 15vh;
	position: relative;
	z-index: -1;
	border-radius: 50%;
	/*	box-shadow: 0px 0px 1vh rgba(0, 0, 0, 0.8) ;*/
}

.shadow p {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
}


/*logo*/

.logo	{
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	width: 22vh;
	border-radius: 50%;
	z-index: 999;	
}

#logo {
	position: relative;
	z-index: 900;
}

.dot, #dots-content {
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
}

#dots-content div {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

/*gear*/

#gear {
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	width: 50vh;
}

.hidden {
	display: none;
}


/*Content area*/

#dots-content {
	border-radius: 50%;
	width: 35vh;
	height: 35vh;
	z-index: 1000;
	background-color: white;
}

.product-image {
	position: relative;
	left: 0;
	width: 33.3333%;
	height: 100%;
}


/* Styles for Portrait screen */    
@media all and (orientation:portrait) , (max-aspect-ratio: 1/1) {
	.shadow, .shadow img {
		width: 15vw;
		height: 15vw;
	}

	#gear {
		width: 50vw;
	}


	#logo {
		width: 22vw;
	}

	.dots-content {
		width: 50vw;
		height: 50vw;
	}

	#dots-container {
		width: 65vw;
		height: 65vw;
	}	

	.dot-background {
		width: 15vw;
		height: 15vw;

	}

	#companyName {
		top: 0;
		left: 50vw;
		transform: translate(-50%, -20%);
		font-size: 5vw;
	}

	#slogan {
		bottom:  1vh;
		left: 50vw;
		transform: translate(-50%, -15%);
		font-size: 5vw;
	}
}

/* Styles for Landscape screen */
@media all and (orientation:landscape) {

}

