/*
Copyright Kevin Bullis, All Rights Reserved
*/
/* 
    Created on : Feb 7, 2017, 4:18:20 PM
    Author     : kevinbullis
*/


/* <editor-fold defaultstate="collapsed" desc="General">*/
/*general styles*/

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/*outline: lightgreen dotted;*/
}

a {
	text-decoration: none;
	color: black;
}

body { 
	background-color: rgba(  2, 33, 42,1); 
}

.center-fixed {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center-absolute  {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.deep-shadow {
	box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 1.0), 0 0 6px #000;
}

.deep-shadow:hover {
	box-shadow: inset 0.02vh 0.02vh 0.25vh black;
}

.hidden {
		display: none;
	}

.highlight {
	box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 1.0), 0 0 4px #000, 0 0 1px red;
}

.outlined-text {
	color: white;
	text-shadow: 1px 1px 1px rgba(255,0,0,1.0), 1px 1px 2px black;
}



.right {
	text-align: right;
}

.right-chevron {
	filter: FlipH;
}

.round-fill {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.rounded-ridge {
	box-shadow: 
		0 0 2px 2px hsl(0, 0%, 20%),
		0 0 1px 4px hsl(0, 0%, 40%),
		0 0 0 6px hsl(0, 0%, 80%),
		0 0 0 6.5px hsl(0, 0%, 100%); 
}

.shadow {
	box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 1.0), 0 0 2px #000;
	position: absolute;
	width: 100%;
	height: 100%;
}

.shadow:hover {
	box-shadow: inset 0.02vh 0.02vh 0.25vh black;
}

.white-background {
	background-color: whitesmoke;
}

/* </editor-fold> */






/* <editor-fold defaultstate="collapsed" desc="Colors">*/

/*colors/ derived with the help of paletton.com*/

/*green 0 is middle, 1-4 increasingly dark*/
.green { background-color: rgba( 34,106, 56,1) }	/* Main Primary color */
.green-1 { background-color: rgba( 95,159,114,1) }
.green-2 { background-color: rgba( 57,129, 78,1) }
.green-3 { background-color: rgba( 14, 78, 33,1) }
.green-4 { background-color: rgba(  0, 49, 15,1) }

/*blue-1 is middle, 1-4 increasingly dark*/
.blue { background-color: rgba( 31, 76, 89,1) }	/* Main Secondary color (1) */
.blue-1 { background-color: rgba( 82,122,134,1) }
.blue-2 { background-color: rgba( 50, 95,108,1) }
.blue-3 { background-color: rgba( 14, 54, 66,1) }
.blue-4 { background-color: rgba(  2, 33, 42,1) }

/*brown 0 is middle, 1-4 increasingly dark*/
.brown { background-color: rgba(143, 95, 46,1) }	/* Main Secondary color (2) */
.brown-1 { background-color: rgba(215,172,129,1) }
.brown-2 { background-color: rgba(174,126, 77,1) }
.brown-3 { background-color: rgba(106, 63, 19,1) }
.brown-4 { background-color: rgba( 67, 34,  1,1) }

/*red 0 is middle, 1-4 increasingly dark*/
.red { background-color: rgba(143, 59, 46,1) }	/* Main Complement color */
.red-1 { background-color: rgba(215,140,129,1) }
.red-2 { background-color: rgba(174, 90, 77,1) }
.red-3 { background-color: rgba(106, 31, 19,1) }
.red-4 { background-color: rgba( 67, 10,  1,1) }

/* </editor-fold> */


#gear {
	display: none;
}

#dots-container {
	position: relative;
	width: 100%;
	height: 100%;
}


.dot-container {
	position: relative;
	height: 28vw;
	width: 100%;
	margin-top: 5vw;
	
}

.dot {
	position: absolute;
	top: -2.5vw;
	width: 33vw;
	height: 33vw;
	border-radius: 50%;
	background-color: whitesmoke;
	box-shadow: 0 2.5px 5px #000;
	z-index: 10;
	border: #555 
}


.dot-container h3 {
	position: absolute;
	width: 83.5vw;
	left: 16.5vw;
	background-color: whitesmoke;
	line-height: 28vw;
	box-shadow: 0 2px 5px 1px #555;
	padding-right: 5vw;
	font-size: 5.5vw;
	margin: 0;
	z-index: 5;
}

.dot img {
	position: absolute;	
}

.pull-tab {
	position: absolute;
	top: 10px;
	left: 16.5vw;
	height: 28vw;
	width: 83.5vw;
	z-index: -2;
	border-radius: 0 0 5px 5px;
	margin: 0;
}

.details {
	position: relative;
	width: 83.5vw;
	height: 100%;
	left: 16.5vw;
/*	z-index: -1;*/
	overflow: auto;
	margin: 0;
	margin-bottom: -2.5vw;
	border-radius: 0 0 5px 5px;
	/*box-shadow: inset 0px -3px 3px rgba(0, 0, 0, 1.0), 0 0 2px #000;*/
}


#description h1 {
	display: none;
}

#logo {
	
}

#company-name {
	font-size: 4vw;
	top: 25vw;
}

#slogan {
	height: 2vh;
	display: initial;
	font-size: 4vw;
	top: 30vw;
	text-align: center;
}

#slogan div {
	text-align: center;
}

#product-details-container {
	width: 100vw;
	height: 100vh;
}	

.ownerName {
	display: none;
}	

/* <editor-fold defaultstate="collapsed" desc="SWIPE-HERE">*/
.swipe-here {
	position: absolute;
	display: flex;
	align-items: center;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	height: 20vh;
}

.swipe-here div {
	flex-grow: 4;
	text-align: center;
	font-size: 5vw;

}
.swipe-here img {
	flex-grow: 1;
	width: 15vw;
	height: 15vw
}

/* </editor-fold> */